<div class="sensor-table-container col-xl-8 p-5">
    <div class="row mb-5">
        <div class="col-11">
            <h1 class="title">Sensor table</h1>
        </div>
        <div class="col-1">
            <a class="link" href="" routerLink="/logout">Logout</a>
        </div>
    </div>
    <div class="row px-5 mb-3">
        <input class="form-field col-xl-4 col-lg-6 col-md-8 col-sm-10" type="text" [(ngModel)]="formSearchCondition"
               placeholder="enter text to search" (keydown)="searchInputKeyDown($event)"/>
        <button class="search-button" (click)="search()">
            <img class="search-img" src="assets/search-icon.png" alt="Search">
            Search
        </button>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <app-editable-table [sensors]="visibleSensors"
                                [editable]="canModify"
                                (removeRequest)="remove($event)"
                                (editRequest)="edit($event)">

            </app-editable-table>
        </div>
    </div>
    <div class="row">
        <button class="custom-button col-2" routerLink="edit" [hidden]="!canModify">Add Sensor
        </button>
        <div class="row col-10">
            <div class="table-navigation-container  col-10">
                <app-list-navigator class="float-right"
                                    (onChanged)="setPageSelected($event)"
                                    [totalAmount]="totalSensorsAmountByCondition"
                                    [amountOnPage]="sensorsAmountOnPage"
                                    [pageShortcutsAmount]="3"></app-list-navigator>
            </div>
            <p class="total-amount col-2">Total: {{ totalSensorsAmountByCondition }}</p>
        </div>
    </div>
</div>
